.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E9A178;
  height: 20rem;
  width: 70rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: relative;
  bottom: 8rem;
}
