.item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E9A178;
  height: 20rem;
  width: 70rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: relative;
  bottom: 8rem;
  li{
    display: flex;
    margin-bottom: .3rem;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    width: 16rem;
    border-radius: 1rem;
  }
  .name{
    margin-right: .3rem;
  }
  .number{
    position: relative;
    right: 16rem;
    bottom: 8rem;
  }
}
